<div class="album py-5 bg-light">
  <div class="container">
    <section class="text-center">
      <h1 class="jumbotron-heading" id="title">Exercises</h1>
      <p id="para" class="lead text-muted">Select the physical exercise below for which you would like to review your data!
      </p>
    </section>
    <div class="row">
      <ng-container *ngFor="let exercise of exercises">
        <div class="col-md-4">
          <div class="card mb-4 box-shadow">
            <div class="card-body">
              <p class="card-text">{{exercise | uppercase}}</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a [routerLink]="['/data']" (click)="setIt(exercise)"><button type="button" class="btn btn-info">View</button></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
</div>
